.hero {
  overflow: hidden;

  .hero-body .container {
    margin-left: $size-1;
  }

  img {
    width: 200px;
    border-radius: 20px;
  }
}

.project-card {
  height: 100%;

  h1.title {
    font-size: $size-4;
  }

  img {
    height: auto;
    width: 90%;
    display: block;
    margin: auto;
  }
}

.experience-card {
  padding: 20px;
  margin-bottom: 20px;

  .image {
    max-width: 70px;
  }

  .button.is-white {
    &:hover {
      background-color: transparent;
    }
  }

  h1.title {
    margin-bottom: 5px;
    font-size: $size-5;
  }

  ul {
    margin-left: 1.2rem;
  }

  li {
    list-style-type: circle;
    font-size: 0.92rem;
  }
}

.site-section {
  min-height: 200px;

  .header {
    margin-bottom: 20px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 0px;
  }
}
